# Markdown Basic
## Markdown Basic
### Markdown Basic
#### Markdown Basic
##### Markdown Basic
##### Markdown Basic

* **point**
* *point*
* ***point***
* Normal Test
 * sublist 1
 * sublist 2
 
 > 1. point1
 > 2. point2
 
 * ***Adding links to Markdown***
 
 * Goole site --[1]:http://www.google.com
 * mns site --[2]:http://www.msn.com
 
 - .[.].option 1
 
 * Goole site -- [Google].[1]
 [1]: http://www.google.com

### Python Basics
* python version 3.7
- Function programming
- Object oriented programming
- Scriping programming

In [1]:
print("hello,GITAM")

hello,GITAM

In [3]:
print("hello,gitam")
print("Hyderabad")

hello,gitam
Hyderabad

In [4]:
print("Hello,Gitam"," ||| ",end = " ")
print("Hyderabad", end=" ||| ")
print("Python programming")

Hello,Gitam  |||  Hyderabad ||| Python programming

In [6]:
ASSIGNMENT

NameError: name 'ASSIGNMENT' is not defined

In [7]:
ASSIGNMENT

NameError: name 'ASSIGNMENT' is not defined

ASSIGNMENT

# ASSIGNMENT

In [8]:
n1 =100
a = b = c = 20
a1,b1,c1=111, 222, 333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and conversion

* int
* flot
* string

In [9]:
a = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [12]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
s1 = 100
print(type(s1))
a = int(s1)
print(type(a))

f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'int'>
<class 'int'>
<class 'int'>
1

In [14]:
# A number is given 1234-
# Digit count
a1 = 1234
print(len(str(a1)))

4

# Reading a value

* input("message")--string

In [15]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameArunasri
Arunasri
<class 'str'>

In [17]:
n1 = int(input("enter the number"))
print(n1,typr(n1))

enter the number5

NameError: name 'typr' is not defined

## Operators

 * operator is a symbol used to perform a specific kind of operations
 
 ## ARITMETIC OPERATORS
 * //
 * %
 * *
 * /
 * +
 * -

In [18]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### Precedence of the arth operators
 
 * parenthesis
 * power 
 * multiplication
 * addtion 
 
 left to right

In [19]:
x = 1+2**3/4+5
print(x)

8.0

In [20]:
x = 1+2**3/4*5
print(x)

11.0

### RELATIONAL OPERATIONS

- ==
- !=
- Greater(>)
- Less than(<)
- lessthan or equal to(<=)
- greater than or eqals to(>=)

In [21]:
x=10
a1 = x>5
print(a1)

True

## Logical operators

* used to combine more than single condition
* and
* or
* not

In [22]:
i = 100
a1=(i>15) and (i<800)
a2=(i>15) and (i>800)
print(a1)
print(a2)

True
False

### Control flow stetaments
- conditional stetament
- looping stetament

### if-else stetaments
        
        #SYNTAX
        
 if boolean_condition; statements else; statement

In [23]:
#TO CHEAK EVEN OR ODD
n=int(input("enter a value"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a value7
odd

In [24]:
# To check given number is perfectly multipule of 3 and 5
n = int (input("enter the value"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter the value8
no